main {
  padding: 1rem;
}

.signup-title {
  text-align: center;
  font-size: 1.8rem;
  color: firebrick;
}

.signup-form label,
.signup-form label,
.signup-form label {
  display: block;
  margin: 1rem;
  width: 100%;
}
